{% load static %}
{% include 'etender/html/header.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'etender/css/add_tender.css' %}">

<div class="container">
    <section class="add-section">
    <div class="add-tender-form">
        <h2>Добавить тендер</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_purchase_name">Наименование закупки:</label>
            {{ form.purchase_name }}
            <label for="id_purchase_method">Метод закупки:</label>
            {{ form.purchase_method }}
            <label for="id_purchase_number">Номер закупки:</label>
            {{ form.purchase_number }}
            <label for="id_purchase_type">Вид закупок:</label>
            {{ form.purchase_type }}
            <label for="id_organization_name">Наименование организации:</label>
            {{ form.organization_name }}
            <label for="id_planned_amount" class="custom-label">Планируемая сумма:</label>
            {{ form.planned_amount }}
            <label for="id_publication_date" class="custom-label">Дата опубликования:</label>
            {{ form.publication_date }}
            <label for="id_proposal_deadline" class="custom-label">Срок подачи предложений поставщиков:</label>
            {{ form.proposal_deadline }}
            <div class="btns">
                <button type="submit" class="btn third__btn">Добавить</button>
                <button type="reset" class="btn third__btn">Очистить</button>
            </div>
        </form>
    </div>
    </section>
</div>

{% include 'etender/html/footer.html' %}