{% load static %}
{% include 'etender/html/header.html' %}

<link rel="stylesheet" type="text/css" href="{% static 'etender/css/ads.css' %}">



<div class="container">
    <section class="ads-section">
        <h2>Объявления тендеров</h2>
        <div class="sort-options">
            <form method="get">
              <label for="sort_by">Сортировать по:</label>
              <select id="sort_by" name="sort_by">
                <option value="planned_amount">Планируемая сумма</option>
                <option value="publication_date">Дата публикации</option>
              </select>

              <label for="sort_direction">Направление:</label>
              <select id="sort_direction" name="sort_direction">
                <option value="asc">По возрастанию</option>
                <option value="desc">По убыванию</option>
              </select>

              <button type="submit" >Сортировать</button>
            </form>
        </div>
        <div class="tender-list">
            {% for tender in tenders %}
            <div class="tender">
                <div class="tender-info">
                    <div class="left-block">
                        <h3>Наименование закупки:</h3>
                        <h4>{{ tender.purchase_name }}</h4>

                        <p class="tender-info-item">Метод закупки:</p>
                        <h6>{{ tender.purchase_method }}</h6>
                        <p class="tender-info-item">Номер закупки:</p>
                        <h6>{{ tender.purchase_number }}</h6>
                        <p class="tender-info-item">Вид закупок:</p>
                        <h6>{{ tender.purchase_type }}</h6>
                    </div>
                    <div class="right-block">
                        <h3>Наименование организации: </h3>
                        <h4>{{ tender.organization_name }}</h4>
                        <p class="tender-info-item">планируемая сумма:</p>
                        <h6>{{ tender.planned_amount }}</h6>
                        <p class="tender-info-item">дата опубликования:</p>
                        <h6>{{ tender.publication_date }}</h6>
                        <p class="tender-info-item">срок подачи предложений поставщиков:</p>
                        <h6>{{ tender.proposal_deadline }}</h6>
                    </div>
                </div>
                <div class="ads-btn">
                    <a href="#" >Подробнее</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
<section class="pagi" >
<div class="pagination" >
    {% if tenders.has_previous %}
        <a href="?page=1"><img src="{% static 'etender/img/point-left.png' %}" alt="First Page"></a>
        <a href="?page={{ tenders.previous_page_number }}"><img src="{% static 'etender/img/left.png' %}" alt="Previous Page"></a>
    {% endif %}

    {% for num in tenders.paginator.page_range %}
        {% if num == tenders.number %}
            <span class="current-pager" style="font-size:20px;font-weight: bold;border: 1px solid #ccc;border-radius:50%;padding:5px 10px">{{ num }}</span>
        {% else %}
            <a href="?page={{ num }}" style="font-size:20px;font-weight: bold;border: 1px solid #ccc;border-radius:50%;padding:5px 10px">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if tenders.has_next %}
        <a href="?page={{ tenders.next_page_number }}"><img src="{% static 'etender/img/right.png' %}" alt="Next Page"></a>
        <a href="?page={{ tenders.paginator.num_pages }}"><img src="{% static 'etender/img/point-right.png' %}" alt="Last Page"></a>
    {% endif %}
</div>
</section>

    {% if user.is_authenticated %}
     <div class="ads-btn">
        <a href="{% url 'add_tender' %}">Добавить тендер</a>
    </div>
    {% endif %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('sort_button').addEventListener('click', function() {
        var selectedSort = document.getElementById('sort_by').value;
        var selectedDirection = document.getElementById('sort_direction').value;


        var xhr = new XMLHttpRequest();
        xhr.open('GET', window.location.href + '?sort_by=' + selectedSort + '&sort_direction=' + selectedDirection, true);

        xhr.onload = function() {
            if (xhr.status === 200) {
                document.querySelector('.tender-list').innerHTML = xhr.responseText;
            }
        };

        xhr.send();
    });
});

</script>



{% include 'etender/html/footer.html' %}