{% load static %}
<div class="footer">
    <!-- Футер с контактами, картой и иконками соцсетей -->
    <div class="container">
        <div class="footer__content">
            <div class="footer__inner">
                <div class="footer__info">
                    <div class="footer__title">
                        Связаться с нами
                    </div>
                    <ul class="footer__list">
                        <li class="footer__adress">Телефон: +996 (555) 55-55-55</li>
                        <li class="footer__adress">Почта: OOP@gmail.com</li>
                        <li class="footer__adress">Адрес: MYK, ул. Турусбекова, Бишкек</li>
                    </ul>
                </div>
                <div class="footer__title">
                    Мы в соцсетях
                    <div class="footer__block" id="doo">
                        <div class="social">
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/you.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/telegram.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/face.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/inst.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>