{% load static %}
<div class="footer">
    <!-- Футер с контактами, картой и иконками соцсетей -->
    <div class="container">
        <div class="footer__content">
            <div class="footer__inner">
                <div class="footer__info">
                    <div class="footer__title">
                        Связаться с нами
                    </div>
                    <ul class="footer__list">
                        <li class="footer__adress">Телефон: +996 (555) 55-55-55</li>
                        <li class="footer__adress">Почта: OOP@gmail.com</li>
                        <li class="footer__adress">Адрес: MYK, ул. Турусбекова, Бишкек</li>
                    </ul>
                </div>
                <div class="footer__title">
                    Карта
                    <div class="footer__map" >
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1462.149099287562!2d74.64535580134041!3d42.86654976165931!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skg!4v1699016905947!5m2!1sru!2skg" width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
                <div class="footer__title">
                    Мы в соцсетях
                    <div class="footer__block" id="doo">
                        <div class="social">
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/you.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/telegram.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/face.png' %}">
                            </a>
                            <a href="#" class="social__item">
                                <img src="{% static 'etender/img/inst.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>