{% load static %}
{% include 'etender/html/header.html' %}
<div class="second-block">
    <!-- Блок с изображением и текстом -->
    <div class="image-container">
        <img src="{% static 'etender/img/kyrgyzstan.png' %}" alt="Image">
    </div>
    <div class="text-container">
        <h2>E-TENDER</h2>
        <p>E-TENDER - это надежная платформа, обеспечивающая прозрачность и эффективность процесса госзакупок.</p>
    </div>
</div>
<section class="section section--thirds">
    <!-- Секция с блоками "Коммерческие закупки и тд" -->
    <div class="container">
        <div class="thirds">
            {% for client in clients1 %}
            <div class="third">
                <div class="third__img">
                    <img src="{% static client.image %}" alt="{{ client.alt }}">
                </div>
                <div class="third__content">
                    <h3 class="third__title">{{ client.title }}</h3>
                    <p class="third__text">{{ client.text }}</p>
                    <button class="btn third__btn">В раздел</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section section--images">
    <!-- Секция с изображениями и текстом -->
    <div class="container">
        <h2 class="section__title">Как работает электронный аукцион</h2>
        <div class="images">
            {% for image in auction_images %}
                <div class="image">
                    <img src="{% static image.url %}" alt="{{ image.alt }}">
                    <p class="image__text">{{ image.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section section--services">
    <!-- Секция с блоками "Как работать с базой государственных тендеров" -->
    <div class="container">
        <div class="services">
            {% for service in tender_services %}
                <div class="service" style="background-image: url('{% static service.background_image %}');">
                    <div class="service__content">
                        <h3 class="service__title">{{ service.title }}</h3>
                        <button class="btn service__btn">Подробнее</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<div class="section section--links">
    <!-- Блок с полезными ссылками -->
    <div class="container">
        <div class="links">
            <div class="links__left">
                <h2 class="links__title">Полезные ссылки</h2>
                <ul class="links__list">
                    {% for link in useful_links %}
                        <li class="links__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="links__right">
                {% for button in links_buttons %}
                    <div class="links__button"><a href="{{ button.url }}">{{ button.title }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<section class="section section--clients">
    <!-- Секция с логотипами клиентов -->
    <div class="container">
        <h2 class="section__title__six">Наши клиенты</h2>
        <div class="clients">
            {% for client in clients %}
                <div class="client">
                    <img src="{% static client.image %}" alt="{{ client.alt }}">
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% include 'etender/html/footer.html' %}
</body>
</html>