{% load static %}
{% include 'etender/html/header.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'etender/css/tender_detail.css' %}">

<div class="container">
    <section class="tender-detail-section">
        <h2>Детали тендера</h2>
        <div class="content">
            <h3>{{ tender.purchase_name }}</h3>
            <p>Метод закупки:<br> {{ tender.purchase_method }}</p>
            <p>Номер закупки:<br> {{ tender.purchase_number }}</p>
            <p>Вид закупок:<br> {{ tender.purchase_type }}</p>
            <p>Наименование организации:<br> {{ tender.organization_name }}</p>
            <p>Планируемая сумма:<br> {{ tender.planned_amount }}</p>
            <p>Дата опубликования:<br> {{ tender.publication_date }}</p>
            <p>Срок подачи предложений поставщиков:<br> {{ tender.proposal_deadline }}</p>
        </div>
        {% if user.is_authenticated %}
            {% if tender.user == user %}
                <form method="post">
                    {% csrf_token %}
                    <button class="edit-tender-btn" data-tender-id="{{ tender.id }}">Редактировать тендер</button>
                    <button class="delete-tender-btn" data-tender-id="{{ tender.id }}">Удалить тендер</button>

                </form>
            {% endif %}
        {% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var editBtn = document.querySelector('.edit-tender-btn');

    editBtn.addEventListener('click', function() {
        var tenderId = this.dataset.tenderId;
        var editUrl = '{% url "edit_tender" 0 %}'.replace('0', tenderId);

        fetch(editUrl, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
            } else {
            }
        });
    });
});

    document.addEventListener('DOMContentLoaded', function() {
    var deleteBtn = document.querySelector('.delete-tender-btn');

    deleteBtn.addEventListener('click', function() {
        var tenderId = this.dataset.tenderId;
        var deleteUrl = '{% url "delete_tender" 0 %}'.replace('0', tenderId);

        fetch(deleteUrl, {
            method: 'POST',
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': getCookie('csrftoken')
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {

                window.location.href = '{% url "ads" %}';
            } else {

            }
        });
    });
});
</script>
    </section>
</div>


{% include 'etender/html/footer.html' %}
