.ads-section {
    margin: 10% 0;
}

@media (max-width: 768px) {
    .ads-section {
        margin: 5% 0;
    }
}

.tender h4{
    font-size: 22px;
    margin: 10px 0;
    }

.tender h6{
font-size:18px;
margin:10px 0;
}

.tender {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 140, 187, 0.1);
}

.tender-info {
    display: flex;
    justify-content: space-between;
}
.left-block, .right-block {
    width: 45%;
}
.tender-info-item {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.left-block h3, .right-block h3 {
    font-size: 24px;
}
.tender-info-item {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.tender h3 {
    color: #008cbb;
    font-size: 18px;
    margin: 10px 0;
}

.tender p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ads-btn {
text-align: right;
margin:20px 0px;
}
.pagination a img {
  width: 15px;
  height: 15px;
}



.ads-btn a {
    background-color: #008cbb;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin: 30px auto 0px;
    border: 2px solid #008cbb;
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 10px;
}

.ads-btn a:hover {
    background-color: #02455c;
}